.weather-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-base);
  padding: var(--space-md);
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* для Safari */

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-md);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  transition:
    transform 200ms ease,
    background 200ms ease;
}
