.weather-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-base);
  padding: var(--space-md);
  width: 100%;
}

.card {
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px); для Safari */

  border: 1px solid var(--color-border-dark-theme-thin);
  border-radius: var(--radius-md);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  transition:
    transform 200ms ease,
    background 200ms ease;
}

.card:active {
  transform: scale(0.98);
  background: var(--color-card-active);
}

.card p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-accent);
  margin: 0;
}

.card p:last-child {
  font-family: "Unit", sans-serif;
  font-size: var(--fs-lg);
  font-weight: var(--fw-boldish);
  color: var(--color-stats-units);
  margin: 0;
}

@media (min-width: 768px) {
  .weather-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-grid);
    max-width: 900px;

    margin: 0 auto;
  }
}
