.forecast {
  margin: var(--space-xl) 0;
  padding: 0 var(--space-app);
}

.forecast-title {
  font-family: var(--ff-accent);
  font-weight: var(--fw-boldish);
  color: var(--text-accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: var(--space-base);
}

/* Список */
.forecast-list {
  background-color: var(--card-bg);
  border-radius: var(--radius-md);
  padding: var(--space-xs) var(--space-md);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--color-border-thin);
}

/* Строка дня */
.forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) 0;
  border-bottom: 1px solid var(--color-border-thin);
}

.forecast-item:last-child {
  border-bottom: none;
}

.day-label {
  flex: 0 0 70px;
  font-size: var(--fs-sm);
  color: var(--text-secondary);
  font-weight: var(--fw-medium);
}

.condition-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  padding: 0 var(--space-sm);
}

.weather-forecast__icon {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.condition-text {
  font-style: var(--fs-sm);
  font-weight: var(--fw-boldish);
  color: var(--text-primary);
}

.temp-wrapper {
  flex: 0 0 80px;
  text-align: right;
  font-size: var(--fs-md);
  font-weight: var(--fw-accent);
}

.high {
  color: var(--text-primary);
}

.seperator {
  color: var(--text-accent);
  margin: 0 var(--space-xxxs);
  font-weight: var(--fw-regular);
}

.low {
  color: var(--text-secondary);
  font-weight: var(--fw-regular);
}
