.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.current-weather__main {
  display: flex;
  align-items: center;
  gap: var(--space-3xl);
}

.weather-icon {
  width: var(--img-width);
  height: var(--img-width);
}

.current-weather__city {
  font-size: var(--fs-xxl);
  font-family: var(--ff-accent), "sans-serif";
  font-weight: var(--fw-base);
  margin: 0;
}

.current-weather__temp-value {
  font-size: var(--fs-temp);
  font-weight: var(--fw-md);
  line-height: var(--ln-sm);
}

.current-weather__temp-unit {
  font-size: var(--fs-unit);
  vertical-align: top;
  position: relative;
  top: 0.5em;
}

.current-weather__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxs);
  text-align: center;
  opacity: 0.8;
  font-size: var(--fs-lg);
  color: rgb(50, 49, 57);
}

.current-weather__description {
  font-weight: var(--fw-medium);
  color: var(--text-primary);
  text-transform: capitalize;
  font-size: var(--fs-sm);
}

.current-weather__feels-like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs);
  font-size: var(--fs-sm);
  color: var(--text-secondary);
}

.icon-thermometer {
  width: 1.25rem;
  height: 1.25rem;

  color: var(--color-temp-icon);

  stroke-width: 2px;
}

.feels-like__value {
  font-weight: var(--fw-accent);
  color: var(--text-primary);
}

@media (max-width: 350px) {
  .weather-icon {
    width: var(--img-width-small-screen);
    height: var(--img-width-small-screen);
  }

  .current-weather__temp-value {
    font-size: var(--fs-small-screen-temp);
  }

  .current-weather__temp-unit {
    font-size: var(--fs-3xl);
  }
}

@media (min-width: 1024px) {
  .current-weather__main {
    display: flex;
    gap: var(--space-3xl);
  }
}
