.header-bar {
  display: flex; /* включаем гибкость */
  align-items: center;
  gap: var(--space-md); /* расстояние между поиском и кнопкой языка */
  width: 100%; /* расстягиваем на всю ширину мобилки */
  padding: var(--space-sm) 0;
}

.logo {
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}
