.header-bar {
  display: flex; /* включаем гибкость */
  align-items: flex-start; /* ВАЖНО: прижимае к верху, чтобы ошибка снизу не растягивала хедер */
  gap: var(--space-md); /* расстояние между поиском и кнопкой языка */
  width: 100%; /* расстягиваем на всю ширину мобилки */
}
