.theme-btn {
  background: transparent;
  border: 1px solid rgba(var(--color-primary-rgb), 0.2);
  color: var(--text-primary);
  width: 43px;
  height: 43px;
  font-size: var(--fs-lg);
  font-weight: bold;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition:
    background 300ms ease-in,
    border-color 300ms ease-in,
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms ease-in;
  box-shadow: var(--shadow-sm);
}

.theme-btn:hover {
  transition:
    background 200ms ease-out,
    border-color 200ms ease-out,
    transform 200ms ease-out,
    box-shadow 200ms ease-out;
  background: rgba(var(--color-primary-rgb), 0.05);
  border-color: var(--color-primary);
  transform: translateY(-1px);
}

.is-dark .sun-icon {
  color: #ffce45;
  filter: drop-shadow(0 0 5px rgba(255, 206 69, 0.6));
}

is-light .moon-icon {
  color: #f1c40f;
}
