.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.error-message {
  position: absolute;
  top: 100%;
  left: var(--space-md);
  color: var(--color-error);
  font-size: var(--fs-sm);
  margin-top: var(--space-xs);
  white-space: nowrap;
}

.search-container {
  width: 100%;
}

.input-wrapper {
  display: flex;
  width: 90%;
  background-color: var(--color-surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;

  transition: border-color 300ms;
}

.input-wrapper:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.1);
}

#input-search {
  flex: 1;
  min-width: 0;
  width: 100%;
  border: none;
  padding: var(--space-input) var(--space-sm);
  padding-left: 1.5rem;
  font-size: var(--fs-input);
  outline: none;
  background: transparent;
  color: var(--text-primary);

  transition: background 200ms ease;
}

.input-wrapper:hover {
  background-color: rgba(231, 231, 231, 0.03);
}

.search-submit-btn {
  background-color: var(--color-primary);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 0 var(--space-md);
  font-weight: var(--fw-base);
  cursor: pointer;

  transition:
    opacity 200ms,
    background-color 200ms;
}

.search-submit-btn:hover {
  opacity: 0.9;
  background-color: var(--color-primary-hover);
}
